/* 
Adam Aouassar, Sam Greenberg
ITI 418
Spring 2026
Pioneer Spirits
styles.css
*/
#map {
    height: 100vh;
    position: relative;
    z-index: 1;
    width: 100vw;
}
body {
    min-width: 2px;
    padding: 0;
    margin: 0 auto;
}
section, #content {
    background-color: #fff2cc;
    margin: 0px auto;
    min-height: 100vh;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

html {
    background-color: #111;
}
img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
}
/* Buttons */
.buttons {
    display: flex;
    z-index: 2;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly !important;
}
.home-btn, .spirits-btn, .save-btn {
    background-color: red;
    color: #FFF;
    padding: 10px 35px;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#buttons a {
    color: white;
    text-decoration: none;
}
/* Save Data */
body section center button {
    background-color: red;
    color: #FFF;
    padding: 4px 20px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
body section center input {
    padding: 3px 0px;
}


h1	{
    color		: red;
    font-size	: 42pt;
    font-family	: Harrington;
    text-align	: center;
    margin: 0 auto;
}
p	{
    color		: darkblue;
    font-size	: 14pt;
    font-family	: trebuchet MS, tahoma;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
h1, h2 {
    font-family	:'Epunda Slab'
}


/* Collection Screen */
.locked {
    filter: brightness(30%);
}
#spirits {
    align-items: center;
}