/* 
Adam Aouassar, Sam Greenberg
ITI 418
Spring 2026
Pioneer Spirits
styles.css
*/
#map {
    height: 85vh;
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    width: 100vw;
}
