			h1	{ color		: purple;
				  font-size	: 42pt;
				  font-family	: Harrington;
				  text-align	: center; }
			p	{ color		: darkblue;
				  font-size	: 14pt;
				  font-family	: trebuchet MS, tahoma; }